body {
	background:url('../img/image6.jpg') no-repeat center fixed;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

.main-content {
	width:900px;
	height:750px;
	background:rgba(240,240,240,0.5);
	text-align:center;
	margin:0 auto;
	padding:8px;
	overflow:auto;
}

#list-container{
	width:550px;
	height:400px;
	overflow:auto;
	margin:0 auto;
	margin-top:25px;
}

a {
	text-decoration:none;
	float:right;
	clear:both;
}

.img-size{
	width:200px;
	height:200px;
	float:left;
}

