body {
	background:url('../img/image6.jpg') no-repeat center fixed;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	margin:0;
}

/*header-content*/
.header-content{
	width:100%;
	height:120px;
	background:rgba(0,0,0,0.5);
	text-align:center;
	color:white;
}

.header-content h1{
	font-family:verdana;
	font-style:italic;
	margin-right:50px;
	margin-top:30px;
	text-shadow:2px 3px 4px white,
	2px 3px 4px lightgray;
}

.header-content img{
	width:100px;
	height:100px;
	margin-left:50px;
}

/*main content*/


.main-content {
	width:900px;
	height:100%;
	background:rgba(240,240,240,0.5);
	text-align:center;
	margin:0 auto;
	padding:8px;
}

/*about content*/

.about-container{
	width:850px;
	height:500px;
	text-align:center;
	margin:0 auto;
	border-bottom:grey 3px solid;
}

.about-container h2{
	font-family:verdana;
	font-style:italic;
	margin-top:50px;
	text-shadow:2px 3px 4px gray,
	2px 3px 4px black;
}

.about-container p{
	font-family:verdana;
}

/*list containig lists*/

#list-container{
	width:850px;
	height:350px;
	overflow:auto;
	margin:0 auto;
	margin-top:25px;
	border-bottom:grey 3px solid;
}
/*actual game list*/
#container{
	width:550px;
	height:340px;
	background:rgba(200,200,200,0.5);
	overflow:auto;
}

#container a {
	text-decoration:none;
	float:left;
	margin-top:100px;
}

#container .remove{
	margin-top:100px;
}

.img-size{
	width:200px;
	height:200px;
	float:left;
	clear:both;
}
/*other content*/
.other-content{
	width:200px;
	height:200px;
	background:rgba(200,200,200,0.5);
	overflow:hidden;
	margin:0 auto;
	text-align:center;
}

.other-content ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.other-content li {
	padding-bottom:5px;
	border-bottom:1px dotted grey;
}

li a{
	text-decoration:none;
	float:none;
}

/*contain detail*/

#contain-detail img{
	max-width:700px;
	max-height:650px;
}

#contain-detail h3{
	font-family:verdana;
	font-style:italic;
	margin-top:50px;
	text-shadow:2px 3px 4px gray,
	2px 3px 4px black;
}

#contain-detail p{
	font-family:sans-serif;
}

/*styling links*/

li a:link{
	color:green;
}
li a:visited{
	color:blue;
}
li a:hover{
	color:red;
	font-weight:bold;
	font-size:18px;
}
li a:active{
	color:green;
}

/*position content*/
.pull-left{
	float:left;

}

.pull-right{
	float:right;
}

.clearfix::after {
  content:"";
  display:block;
  clear:both;
}

/*footer-content*/

.footer-content{
	width:100%;
	height:20px;
	background:rgba(0,0,0,0.5);
	text-align:center;
	color:white;
}

.footer-content p{
	font-family:verdana;
	margin:0;
}