body {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:times new roman;
}

/* navigation section */

nav {
	background:rgb(42,62,82);
	width:100%;
	height:auto;
}

.navigation-menu {
	width:60%;
	margin:auto;
	padding:10px 0;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.navigation-menu a {
	text-decoration:none;
}

.navigation-menu a:hover {
	text-decoration:none;
	color:rgb(245,245,245);
}

/*intro section*/

header{
	width:100%;
	height:550px;
	background:url('../img/orig.jpg') no-repeat center fixed;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align:center;
	color:rgb(245,245,245);
}

header h1{
	margin:0;
}

header p{
	margin:10px 0;
}

/*subtitle 1*/

#subtitle-1{
	width:100%;
	background:rgb(102,32,12);
	color:rgb(245,245,245);
}

#subtitle-1 h2{
		padding-left:15px;
}

/*column content comes here*/

#main-section{
	width:100%;
	margin-top:10px;
}

#info-section article{
	max-width:350px;
	height:480px;
	box-shadow:2px 3px 4px gray;
	margin-bottom:6px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;

}

#info-section article h2{
	align-self:flex-start;
	border-bottom:1px solid black;
}

#info-section article img{
	max-width:300px;
	height:250px;
}

#sample-section {
	width:100%;
	margin-top:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-style:italic;
}

#sample-section h3{
	margin:0;
}

#picture-section{
	margin-top:10px;
}

#picture-section article img{
	max-width:100%;
	height:auto;
	margin-top:2px;
}



/*second subtitle*/

#subtitle-2{
	width:100%;
	background:rgb(102,32,12);
	color:rgb(245,245,245);
	margin-top:10px;
}

#subtitle-2 h2{
	padding-left:15px;
}

/* carousel section */

#carousel-section{
	width:100%;
}

#carousel-section img{
	max-width:100%;
	height:auto;
}

/*quote section*/

#quote-section{
	width:100%;
	margin-top:25px;
	background:rgba(220,220,220,0.3);
	display:flex;
	flex-direction:column;
	align-items:flex-end;
}

/*footer section*/

#creator-section {
	background:rgb(42,62,82);
	color:rgb(245,245,245);
	width:100%;
	height:40px;
	margin-top:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}

#creator-section p{
	font-style:italic;
	margin:0;
}

/*breakpoint section*/

/*breakpoint for nvigation section */

@media only screen and (max-width:350px){
	.navigation-menu{
		width:90%;
		justify-content:flex-start;
		align-items:center;
	}

	.navigation-menu a{
		padding-right:6px;
	}
}

/*breakpoint for intro section*/

@media only screen and (max-width:971px){
	header{
		background:url('../img/orig2.jpg') no-repeat center fixed;
		background-size:cover;
		-o-background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	header h1{
		color:rgb(30,30,30);
	}

	header p{
		color:rgb(30,30,30);
	}
}

@media only screen and (max-width:620px){
	header{
		background:url('../img/orig3.jpg') no-repeat center fixed;
		background-size:cover;
		-o-background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	header h1{
		color:rgb(30,30,30);
	}

	header p{
		color:rgb(30,30,30);
	}
}

/* breakpoint for first subtitles section*/

@media only screen and (max-width:620px){
	#subtitle-1 h2{
		padding-left:5px;
		font-size:23px;
	}
}

@media only screen and (max-width:370px){
	#subtitle-1{
		text-align:center;
	}
	#subtitle-1 h2{
		padding-left:5px;
		font-size:18px;
	}
}

@media only screen and (max-width:620px){
	#subtitle-2 h2{
		padding-left:5px;
		font-size:23px;
	}
}

@media only screen and (max-width:370px){
	#subtitle-2{
		text-align:center;
	}
	#subtitle-2 h2{
		padding-left:5px;
		font-size:18px;
	}
}

/*breakpoint for sample section*/

@media only screen and (max-width:370px){
	#sample-section h3{
		font-size:20px;
	}
}

/*breakpoint for quote section*/

@media only screen and (max-width:620px){
	#quote-section{
		align-items:center;
	}

	#quote-section blockquote p{
		font-size:15px;
	}
	#quote-section blockquote footer{
		font-size:15px;
	}
}


/*breakpoint for footer*/

@media only screen and (max-width:370px){
	#creator-section p{
		font-size:13px;
	}
}