.boxes {
  width: 590px;
}

.box-model {
  padding: 10px;
  border:5px solid green;
  margin: 20px;
  width:150px;
  box-sizing:border-box;
  display:inline-block;
}

.box-image {
  width:40px;
  height:40px;
  background-color:green;
  margin:5px;
  border:1px solid black;
}
.pull-left {
  float:left;
}
.pull-right {
  float:right;
}

.clearfix::after {
  content:"";
  display:block;
  clear:both;
}

.pos-relative {
  position:relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position:fixed;
}

.box-1 {
  top:10px;
  left:20px;
}

.box-2 {
  right:10px;
  bottom:20px;
}

.box-3 {
  left:10px;
  bottom:20px;
}

footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:green;
  color:white;
  text-align:center;
  height:40px;
}