body {
  margin:0;
  background-color:silver;
}

.margin-auto {
  margin:0 auto;
  width:550px;
}

.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

.backgr {
  background-color:lightblue;
  padding:12px;
  height:auto;
  border-radius:2px;
}

section {
  background:linear-gradient(lightblue,white);
  border:1px solid black;
  padding:13px;
  margin-bottom:3px;
}