body {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:times new roman;
	background:url('../img/back-image.jpg') no-repeat center fixed;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

/* clearfix*/

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

/*dispay/hide different parts*/

.display-none {
	display:none;
}

.display-active {
	display:block;
}

/* header section*/

header {
	background-color:rgb(22,42,62);
}

header section {
	width:90%;
	margin:auto;
	padding:3px;
	display:flex;
	justify-content:space-between;
}

header section img {
	width:65px;
	height:65px;
}

header section h1 {
	margin:0;
	align-self:center;
	color:lightgrey;
	font-size:30px;
}

/* intro section*/

#site-intro {
	width:100%;
	min-height:400px;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
	url('../img/intro-image.jpg') no-repeat bottom fixed;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#site-intro p{
	color:white;
	font-size:25px;
}

/* about section */
#content-part{
	width:100%;
}

#activation-part{
	display:flex;
}

#activation-part button{
	width:50%;
	padding:8px;
	text-align:left;
	background:rgb(22,42,62);
	color:lightgrey;
	border:none;
	letter-spacing:1px;
}

#activation-part button:hover{
	background:rgb(162,62,42);
}

.display-info{
	background-color:lightgrey;
	padding:3px 6px;
	border-bottom:2px solid rgb(22,42,62);
}

.display-info h2{
	margin-left:70px;
	font-weight:bold;
}

.display-info p{
	line-height:20px;
}

/* display the list of games */

#allElements {
	width:100%;
	margin-top:3px;
	margin-bottom:3px;
}

#allElements div{
	width:300px;
	height:350px;
	border:1px solid black;
	padding:1px;
	text-align:center;
	margin-bottom:3px;
}

#allElements div img{
	max-width:50%;
	height:auto
}

#allElements div button{
	background:rgb(22,42,62);
	border:none;
	color:rgb(240,240,240);
	box-shadow:4px 5px 6px rgb(10,10,10);
	border-radius:7px;
}

#allElements div button:hover{
	background:rgb(162,62,42);
}

#allElements div button:active{
	background:rgb(182,82,62);
	box-shadow:2px 3px 4px rgb(10,10,10);
}

/*diplay the post part */

#post-new-game {
	width:100%;
	height:500px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#show-form{
	background:rgb(22,42,62);
	border:none;
	padding:3px;
	width:70px;
	color:lightgrey;
	box-shadow:4px 5px 6px rgb(10,10,10);
	border-radius:7px;
}

#show-form:hover{
	background:rgb(162,62,42);
}

#show-form:active{
	background:rgb(182,82,62);
	box-shadow:2px 3px 4px rgb(10,10,10);
}

#game-form{
	background:rgb(22,42,62);
	padding:3px;
	color:lightgrey;
	border:2px solid rgb(62,42,22);
	text-align:center;
	box-shadow:3px 5px 6px rgb(10,10,10);
}

#game-form button{
	background:rgb(162,62,42);
	border:none;
	color:rgb(240,240,240);
}

#game-form button:hover{
	background:rgb(182,82,62);
}


/*details page's details section*/

#detailContainer{
	width:100%;
	height:700px;
	padding:4px 8px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify;content:center;
	background-color:rgb(200,200,200);
}

#detailContainer h2{
	font-weight:bold;
}

#detailContainer img{
	max-width:50%;
	height:auto;
	margin:9px;
}

#detailContainer p{
	line-height:20px;
}

/*update section for games*/

#update-game-section{
	width:100%;
	height:500px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#update-game{
	background:rgb(22,42,62);
	border:none;
	padding:3px;
	width:70px;
	color:lightgrey;
	box-shadow:4px 5px 6px rgb(10,10,10);
	border-radius:7px;
}

#update-game:hover{
	background:rgb(162,62,42);
}

#update-game:active{
	background:rgb(182,82,62);
	box-shadow:2px 3px 4px rgb(10,10,10);
}

#submitNewElement{
	background:rgb(22,42,62);
	padding:3px;
	color:lightgrey;
	border:2px solid rgb(62,42,22);
	text-align:center;
	box-shadow:3px 5px 6px rgb(10,10,10);
}

#submitNewElement button{
	background:rgb(162,62,42);
	border:none;
	color:rgb(240,240,240);
}

#submitNewElement button:hover{
	background:rgb(182,82,62);
}

/*footer section*/

footer{
	width:100%;
	height:100px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:rgb(22,42,62);
	color:lightgrey;
}

.other-game-sites{
	font-style:italic;
	margin-top:2px;
}

.other-game-sites ul{
	list-style-type:none;
	display:flex;
}

.other-game-sites ul li {
	margin:1px 3px;
	padding:1px 3px;
	border-right:1px solid white;
}

.other-game-sites ul li:last-child {
	border-right:none;
}

.other-game-sites ul li a:link{
	text-decoration:none;
;
}

.other-game-sites ul li a:hover{
	color:rgb(162,62,42);
}

footer p{
	font-style:italic;
	font-weight:bold;
	letter-spacing:1px;
}
