body {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*header section*/
header {
	background-color:rgb(82,85,88);
}

.headcontainer {
	width:80%;
	margin:0 auto;
	padding:0 5px 0 5px;
	display:flex;
	justify-content:space-between;

}

.headcontainer img{
	width:50px;
	height:50px;
	border:2px solid lightblue;
	border-radius:50%;
	align-self:center;
	object-fit: cover;
  	object-position: center right;
}

.headcontainer h1{
	font-family:arial;
	font-style:italic;
	color:black;
}


/*nav section*/
nav {
	background-color:rgb(82,85,88);
	border-bottom:4px solid rgb(194,152,42);
}

.navcontainer{
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content:flex-end;
}

.navcontainer a:link{
	padding-right:8px;
	text-decoration:none;
	color:rgb(37,87,237);
}
.navcontainer a:visited{
	padding-right:8px;
	text-decoration:none;
	color:rgb(145,202,20);
}
.navcontainer a:hover{
	padding-right:8px;
	text-decoration:none;
	color:rgb(72,15,200);
}
.navcontainer a:active{
	padding-right:8px;
	text-decoration:none;
	color:rgb(37,87,237);
}

/*motivation section*/

#presentation{
	width:100%;
	min-height:300px;
	background:url('../img/motpic.jpg') no-repeat bottom fixed;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#presentation h2{
	color:white;
	font-family:arial;
	font-size:35px;
}

#presentation p{
	color:white;
	font-family:times new roman;
	font-size:20px;
}

/*motto section*/

.personal-motto-back{
	width:100%;
	background-color:rgb(82,85,88);
}

.personal-motto{
	padding:0 10px 0 10px;
	display:flex;
	justify-content:space-around;
}

.personal-motto h3{
	color:rgb(194,152,42);
	font-family:arial;
}

.personal-motto p{
	color:white;
	font-family:times new roman;
	font-style:italic;
	font-weight:bold;
	align-self:center;
}

/* skills section */

#pers-skills{
	text-align:center;
	margin-bottom:10px;
	padding-bottom:10px;
}

#pers-skills h2{
	width:100%;
}


#pers-skills img{
	max-width:290px;
	max-height:170px;
}

/* online cv part*/
#cv-info{
	text-align:center;
	margin-bottom:10px;
	padding-bottom:10px;
}

#cv-info ul{
	list-style-type:none;
}

#cv-info img{
	max-width:50%;
	max-height:auto;
}

#prof-exp{
	align-self:center;

}

#skills{
	align-self:center;
}

#skills h2{
	font-family:arial;
}



#main-skills li{
	border-bottom:1px dotted tomato;
}

/*shof off section*/

#show-off-section{
	margin-bottom:10px;
	padding-bottom:10px;
}

#intro-part{
	width:100%;
	text-align:center;
	font-family:times new roman;
	margin-top:0;
	margin-bottom:0;
}

#slider{
	max-width:80%;
	height:auto;
	margin:0 auto;
}

.carousel-item img{
	max-width:100%;
	height:auto;
}

.carousel-indicators li {
	background-color:rgb(184,142,32);
	width:15px;
	height:15px;
	border-radius:50%;
}

.carousel-indicators .active {
	background-color:rgb(234,192,82);
	width:15px;
	height:15px;
	border-radius:50%;
}

.carousel-caption .inner-content{
	width:60%;
	margin:0 auto;
	margin-bottom:5%;
	overflow:hidden;
	background-color:rgb(62,65,68);
	opacity:0.8;
}

.carousel-caption h3{
	color:white;
	font-family:times new roman;
	font-weight:bold;
}

.carousel-caption a{
	text-decoration:none;
	font-family:times new roman;
	font-weight:bold;
	font-style:italic;
	font-size:25px;
}

.carousel-caption button{
	background-color:rgb(194,152,42);
	border:none;
	color:white;
	text-align:center;
	margin-bottom:1%;
}

.carousel-caption button:hover{
	background-color:rgb(214,172,62);
	border:none;
	color:white;
	text-align:center;
	margin-bottom:1%;
}

#small-button{
	display:none;
}



/*footer section*/

footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background-color:rgb(194,152,42);
	display:flex;
	justify-content:center;
	color:rgb(72,15,200);
}

/* breakpoint section*/

/*breakpoint for header section under 310 pixels*/

@media only screen and (max-width:315px){

	.headcontainer {
	display:block;
	height:100%;
	text-align:center;
	padding-bottom:5px;
	}

	.headcontainer img{
		display:none;
	}

}

/*breakpoint for navbar under 500 pixels*/

@media only screen and (max-width:500px){

	nav{
		border-bottom:2px solid rgb(194,152,42);
	}

	.navcontainer{
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content:center;
	}

}

/*breakpoint for motivation section under 770 pixels*/

@media only screen and (max-width:770px){

	#presentation{
		text-align:center;
	}

}

/*breakpoint for motto section under 420 pixels*/

@media only screen and (max-width:720px){

	.personal-motto{
		display:block;
		text-align:center;
	}

}

/*breakpoint for skills logo under 800 pixels*/
@media only screen and (max-width:800px){

	#pers-skills img{
	max-width:260px;
	max-height:140px;
	}

}

/*breakpoint for carousel under 621 pixels*/

@media only screen and (max-width:621px){

	.carousel-caption h3{
	color:white;
	font-family:times new roman;
	font-weight:normal;
	font-size:18px;
	}
	.carousel-caption a{
	text-decoration:none;
	font-family:times new roman;
	font-weight:normal;
	font-style:italic;
	font-size:18px;
	}
}


/*breakpoint for carousel under 480 pixels*/

@media only screen and (max-width:480px){

	#slider{
	max-width:90%;
	height:auto;
	}

	.carousel-caption button{
	margin:1%;
	}

	.carousel-caption a{
	text-decoration:none;
	font-family:times new roman;
	font-weight:normal;
	font-style:italic;
	font-size:15px;
	}
}

/*breakpoint for carousel under 421 pixels*/

@media only screen and (max-width:421px){

	.carousel-caption h3{
	color:white;
	font-family:times new roman;
	font-weight:normal;
	font-size:13px;
	}
	.carousel-caption a{
	text-decoration:none;
	font-family:times new roman;
	font-weight:normal;
	font-style:italic;
	font-size:15px;
	}
}


/*breakpoint for carousel under 361 pixels*/

@media only screen and (max-width:361px){

	#slider{
	max-width:100%;
	height:auto;
	}

	.carousel-caption h3{
		display:none;
	}

	.carousel-caption a{
	text-decoration:none;
	font-family:times new roman;
	font-weight:normal;
	font-style:italic;
	font-size:15px;
	}
}

/* breakpoint for carousel under 321 pixels*/

@media only screen and (max-width:321px){

	#slider{
	max-width:100%;
	height:auto;
	}

	.carousel-caption {
		display:none;
	}

	#small-button{
	display:block;
	width:100%;
	text-align:center;
	}

	#small-button p{
		font-size:15px;
	}

	#round-button{
		background-color:rgb(194,152,42);
		border:none;
		width:40px;
		height:40px;
		border-radius:50%;
	}

	#round-button:hover{
		background-color:rgb(224,182,72);
		border:none;
		width:40px;
		height:40px;
		border-radius:50%;
	}
}