body {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*header section*/
header {
	background-color:rgb(82,85,88);
}

.headcontainer {
	width:80%;
	margin:0 auto;
	padding:0 5px 0 5px;
	display:flex;
	justify-content:space-between;

}

.headcontainer img{
	width:50px;
	height:50px;
	border:2px solid lightblue;
	border-radius:50%;
	align-self:center;
	object-fit: cover;
  	object-position: center right;
}

.headcontainer h1{
	font-family:arial;
	font-style:italic;
	color:black;
}


/*nav section*/
nav {
	background-color:rgb(82,85,88);
	border-bottom:4px solid rgb(194,152,42);
}

.navcontainer{
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content:flex-end;
}

.navcontainer a:link{
	padding-right:8px;
	text-decoration:none;
	color:rgb(37,87,237);
}
.navcontainer a:visited{
	padding-right:8px;
	text-decoration:none;
	color:rgb(145,202,20);
}
.navcontainer a:hover{
	padding-right:8px;
	text-decoration:none;
	color:rgb(72,15,200);
}
.navcontainer a:active{
	padding-right:8px;
	text-decoration:none;
	color:rgb(37,87,237);
}

/*motivation section*/

#presentation{
	width:100%;
	min-height:300px;
	background:url('../img/motpic.jpg') no-repeat bottom fixed;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#presentation h2{
	color:white;
	font-family:arial;
	font-size:35px;
}

#presentation p{
	color:white;
	font-family:times new roman;
	font-size:20px;
}

/*motto section*/

.personal-motto-back{
	width:100%;
	background-color:rgb(82,85,88);
}

.personal-motto{
	padding:0 10px 0 10px;
	display:flex;
	justify-content:space-around;
}

.personal-motto h3{
	color:rgb(194,152,42);
	font-family:arial;
}

.personal-motto p{
	color:white;
	font-family:times new roman;
	font-style:italic;
	font-weight:bold;
	align-self:center;
}

/* skills section */

#pers-skills{
	text-align:center;
	margin-bottom:10px;
	padding-bottom:10px;
}

#pers-skills h2{
	width:100%;
}


#pers-skills img{
	max-width:290px;
	max-height:170px;
}

/* online cv part*/
#cv-info{
	text-align:center;
	margin-bottom:10px;
	padding-bottom:10px;
}

#cv-info ul{
	list-style-type:none;
}

#cv-info img{
	max-width:50%;
	max-height:auto;
}

#prof-exp{
	align-self:center;

}

#skills{
	align-self:center;
}

#skills h2{
	font-family:arial;
	font-style:italic;
	text-shadow:2px 3px 4px gray,
		2px 3px 4px darkgray;
}

#skills h2::first-letter{
	font-family:arial;
	font-style:italic;
	color:red;
	font-size:45px;
	font-style:italic;
	text-shadow:2px 3px 4px red,
		2px 3px 4px tomato;
}

#main-skills li{
	border-bottom:1px dotted tomato;
}

/*shof off section*/

#show-off-section{
	margin-bottom:10px;
	padding-bottom:10px;
}

#intro-part{
	width:100%;
	text-align:center;
	font-family:times new roman;
	margin-top:0;
	margin-bottom:0;
}

#slider{
	max-width:80%;
	height:auto;
	margin:0 auto;
}

.carousel-item img{
	max-width:100%;
	height:auto;
}

.carousel-indicators li {
	background-color:rgb(184,142,32);
	width:15px;
	height:15px;
	border-radius:50%;
}

.carousel-indicators .active {
	background-color:rgb(234,192,82);
	width:15px;
	height:15px;
	border-radius:50%;
}

.carousel-caption .inner-content{
	width:60%;
	margin:0 auto;
	margin-bottom:5%;
	overflow:hidden;
	background-color:rgb(62,65,68);
	opacity:0.9;
}

.carousel-caption h3{
	color:white;
	font-family:times new roman;
	font-weight:bold;
}

.carousel-caption a{
	text-decoration:none;
	color:red;
	font-family:times new roman;
	font-weight:bold;
	font-style:italic;
	font-size:25px;
}

.carousel-caption button{
	background-color:rgb(194,152,42);
	border:none;
	color:white;
	text-align:center;
	margin-bottom:1%;
}


/*footer section*/

footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background-color:rgb(194,152,42);
	display:flex;
	justify-content:center;
	color:rgb(72,15,200);
}



