body {
	background:url('../img/image2.jpg') no-repeat center fixed;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

#main-content{
	width:400px;
	height:400px;
	background-color:rgba(30,30,30,.4);
	margin:0 auto;
	margin-top:100px;
	padding:10px;
	text-align:center;
	color:white;
	overflow:auto;
}

.customize {
	width:115px;
	height:115px;
	background-color:rgba(255,255,255,0.4);
	overflow:auto;
	float:left;
	margin:5px;
}

.customize-p{
	width:130px;
	height:130px;
	background-color:rgba(200,200,200,0.4);
	overflow:auto;
	float:left;
	margin:5px;
}